/* -------------------------------------------------------------- 
   IE6 HACKS
-------------------------------------------------------------- */

/* Keeps IE6 from cutting pulled/pushed images */
ul, ol { position: relative; }
